<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    {{ JSGlue.include() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/google.maps.autocomplete.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdglrtVqsOVKJbTOGQO_kt4PREU6IWRw&libraries=places"></script>
    <script src="{{ url_for('static', filename='js/google.maps.autocomplete.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdglrtVqsOVKJbTOGQO_kt4PREU6IWRw&libraries=places&callback=initAutocomplete"
         async defer></script>
  </head>
  <body>

    <br>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" style="width: 750px; height: 400px;"></div>
  </body>
</html>

