<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdglrtVqsOVKJbTOGQO_kt4PREU6IWRw&libraries=places"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <style> html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%
    }
    </style>
    {{ JSGlue.include() }}
</head>
<body>
Lat:
    <input id="lat" name="lat" val="40.713956" />Long:
    <input id="long" name="long" val="74.006653" />
    <br />
    <br />
    <div id="map_canvas" style="width: 500px; height: 250px;"></div>

<script>
    var map;

    function initialize() {
        var myLatlng = new google.maps.LatLng(40.713956, -74.006653);

        var myOptions = {
            zoom: 8,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var marker = new google.maps.Marker({
            draggable: true,
            position: myLatlng,
            map: map,
            title: "Your location"
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById("lat").value = event.latLng.lat();
            document.getElementById("long").value = event.latLng.lng();

            // TeddyGo project code added for passiong data (point name, latitude and longitude) to Flask
              var geodata = {
                    "lat": event.latLng.lat(),
                    'lng': event.latLng.lng()
                };
              alert(JSON.stringify(geodata));
            // TeddyGo project code END
        });
    }
    google.maps.event.addDomListener(window, "load", initialize());
</script>
</body>
</html>