{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

<!-- Block #1 - Title -->
{% block title %}
    {{ gettext('Hi! My name is Teddy and I have a dream') }}
{% endblock %}

<!-- Block #2 - Head includes (other CSS & JS) -->
{% block inhead %}
    {# JSGlue for using url_for in jQuery #}
    {{ JSGlue.include() }}

    {# Stylesheet for the Google map with autocomplete field to ented address #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/google.maps.autocomplete.css') }}">

    {# reCaptcha script #}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {# JS to display Teddy's travel so far #}
    {{ teddy_map.js }}
{% endblock %}

<!-- Block #3 - Main contents -->
{% block main_contents %}
    <!-- Traveller's journey so far -->
    <div>
        <b>Map of Teddy's journey so far</b>
    </div>

    <div>
        {{ teddy_map.html }}
    </div>

    <div>
        <b>Travel timeline</b>
    </div>

    {% if locations_history|length>0 %}
        <div>
            {% for location_data in locations_history %}
                <p>
                    {{ gettext('Author') }}: {{ location_data.author }}
                    <br>
                    {{ gettext('Time') }}: {{ location_data.time }}
                    <br>
                    {{ gettext('Location') }}: {{ location_data.location }}
                    {% if location_data.photos|length>0 %}
                        <br>
                        {{ gettext('Photos') }}:
                            {% for photo in location_data.photos %}
                                <br>
                                <img src='{{ PHOTO_DIR }}{{ photo }}' class="img-fluid rounded" style="max-width: 700px;">
                            {% endfor %}
                    {% endif %}
                </p>
                <hr>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Adding a new location -->
    {% if session['LoggedIn'] %}
        <!-- Flashed messages for adding new location (under block header)-->
        <div>
            {% with errors = get_flashed_messages(category_filter=["addlocation"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ msg|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                {% endfor -%}
            {% endif %}
            {% endwith %}
        </div>
        <a name="updatelocation"></a>
        <b>{{ gettext('Where Teddy is now or was on the photo? (required)') }}</b>
        <div>
            <input id="pac-input" />
            <div id="map" height="400" width="700"></div>
        </div>

        <br>
        <form role="form" action="/" method="POST" enctype="multipart/form-data">
            <dl>
                {{ whereisteddynowform.csrf_token }}
                {{ render_field(whereisteddynowform.author) }}
                <div>
                    <b>{{ gettext('Upload up to 4 photos/place') }}</b>
                    <p>
                        <input type="file" accept="image/*" name="photo" id="photo" multiple>
                    </p>
                </div>
                {{ render_field(whereisteddynowform.comment) }}
                {{ render_field(whereisteddynowform.email4updates) }}
                {{ render_field(whereisteddynowform.secret_code) }}
                {# { render_field(whereisteddynowform.recaptcha) } #}
                <br>
                {{ whereisteddynowform.submit(class_="btn btn-primary") }}
            </dl>
        </form>
    {% else %}
        <a name="updatelocation"></a>
        To add new Teddy's location first please <b><a href="/login/">log in</a></b> or <b><a href="/register/">register</a></b>
    {% endif %}
{% endblock %}
