<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Block #1 - Title -->
        <title>
            {% block title %}{% endblock %} / fellowtraveler.club
        </title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <!-- Popper.js -->
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- Bootstrap.js -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <!-- Block #2 - Head includes (other CSS & JS) -->
        {% block inhead %}
        {% endblock %}
    </head>

    <body>
        <!-- Main container START -->
        <a name="top"></a>
        <div class="container" style="max-width: 768px">

            <!-- Block #3 - Simple for error/404.html and 'contents' pages -->
            {% block ourheader %}
            {% endblock %}

            <!-- Main placeholders START -->
            <!-- Block #4 - Main contents -->
            <div>
                {% block main_contents %}
                {% endblock %}
            </div>
            <!-- Main placeholders END -->


            <!-- Footer START -->
            <br>
            <hr>
            <div>
                {% include '_speakwithmefollowme.html' %}
            </div>
            <div>
                {% include '_subscribeform.html' %}
            </div>
            <div>
                <a href="">{{ gettext('Disclaimer') }}</a> | <a href="">{{ gettext('Help us with translation') }}</a> | <a href="">{{ gettext('Support project') }}</a>
            </div>

            <hr>

            <div class="lead" style="font-size: 12pt">
                <br>
                <a href="https://iuriid.github.io/" target="_blank">Iurii Dziuban</a> (c) 2018
                <br>
                &nbsp;
            </div>
            <!-- Footer END -->

        </div>
        <!-- Main container END-->


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdglrtVqsOVKJbTOGQO_kt4PREU6IWRw&libraries=geometry,places"></script>
        <script src="{{ url_for('static', filename='js/google.maps.autocomplete.js') }}"></script>


    </body>
</html>