{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}{{ gettext('Registration') }}{% endblock %}

{% block main_contents %}
    <hr>

    <div align="right">
        {{ gettext('Maybe just <a href="%(url)s">log in</a>?', url='/login/') }}
    </div>

    <form role="form" action="/register/" method="POST">
      <dl>
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ form.submit(class_="btn btn-primary") }}
      </dl>
    </form>
{% endblock %}