{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}{{ gettext('Registration') }}{% endblock %}

{% block ourheader %}
    <h1>Header</h1>

    <div>
        {% with errors = get_flashed_messages(category_filter=["header"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-warning" role="alert">
                    {{ msg|safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor -%}
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block main_contents %}
    <hr>

    <div align="right">
        {{ gettext('Maybe just <a href="%(url)s"><b>log in</b></a>?', url='../login/') }}
        <br>
        {{ gettext('Go to') }} <a href="/"><b>{{ gettext('Main page') }}</b></a>
        {% if session['which_traveler'] != 'All' %}
            {{ gettext('or') }} <a href="{{ session['which_traveler'] }}"><b>{{ session['which_traveler'] }}</b></a>
        {% endif %}
    </div>

    <form role="form" action="../register/" method="POST">
      <dl>
        {{ registrationform.csrf_token }}
        {{ render_field(registrationform.email) }}
        {{ render_field(registrationform.password) }}
        {{ render_field(registrationform.confirm) }}
        {{ registrationform.register_submit(class_="btn btn-primary") }}
      </dl>
    </form>
{% endblock %}