{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

<!-- Block #1 - Title -->
{% block title %}
    {{ gettext('Hi! My name is')}} {{ traveler }} {{ gettext('and I have a dream') }}
{% endblock %}

<!-- Block #2 - Head includes (other CSS & JS) -->
{% block inhead %}
    {# JSGlue for using url_for in jQuery #}
    {{ JSGlue.include() }}

    {# Stylesheet for the Google map with autocomplete field to ented address #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/google.maps.autocomplete.css') }}">

    {# reCaptcha script #}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {# JS to display Teddy's travel so far #}
    {{ teddy_map.js }}
{% endblock %}

<!-- Block #3 - Head includes (other CSS & JS) -->
{% block ourheader %}
<!-- Header START -->
    <!-- Table:
     1. Row 1 = 2 columns 50%/50%:
        1-1. Column 1: traveller's badge, contacts/email subscription form and update_location button,
        1-2. Column 2: links to Login/Register or AddLocation/Logout, change language and chat window;
     2. Row 2 = 1 column for flashing messages
     -->
    <div class="container">
        <!-- 1. Row 1 (see above) -->
        <div class="row">
            <!-- 1-1. Row 1, left column -->
            <div class="w-50">
                <div>
                    <img src="{{ PHOTO_DIR }}{{ traveler }}/service/{{ traveler }}.jpg" style="height: 256px; width: 384px">
                </div>

                <div>
                    {{ gettext('Name') }}: <b>{{ traveler }}</b>
                    <br>
                    {% include '_speakwithmefollowme.html' %}
                </div>

                <div>
                    {% include '_subscribeform.html' %}
                </div>

                <!-- Update location button -->
                <br>
                <div>
                    <a href="/#updatelocation"><button type="button" class="alert btn-success" role="alert">{{ gettext('Update location') }}</button></a>
                </div>
            </div>

            <!-- 1-2. Row 1, right column -->
            <div class="w-50">
                <!-- Login/Register or UpdateLocation/Logout links -->
                <div class="container-fluid" align="right">
                    {% if session['LoggedIn'] %}
                        <b>{{ session['Email'] }}: </b><a href="/#updatelocation">{{ gettext('Update location') }}</a> | <a href="../service/logout/">{{ gettext('Logout') }}</a>
                    {% else %}
                        <a href="../service/login/">{{ gettext('Log in') }}</a> | <a href="../service/register/">{{ gettext('Register') }}</a>
                    {% endif %}
                </div>

                <!-- Choose language block -->
                <div class="container-fluid" align="right">
                    {{ gettext('Change language') }}: {% if language != 'en' %}<a href="/language/en">{% endif %}En{% if language != 'en' %}</a>{% endif %} {% if language != 'de' %}<a href="/language/de" style="color: #6c757d">{% endif %}De{% if language != 'de' %}</a>{% endif %} {% if language != 'ru' %}<a href="/language/ru">{% endif %}Ru{% if language != 'ru' %}</a>{% endif %} {% if language != 'uk' %}<a href="/language/uk">{% endif %}Uk{% if language != 'uk' %}</a>{% endif %} {% if language != 'fr' %}<a href="/language/fr" style="color: #6c757d">{% endif %}Fr{% if language != 'fr' %}</a>{% endif %}
                </div>

                <!-- Webchat -->
                <iframe width="384" height="500" src="https://console.dialogflow.com/api-client/demo/embedded/fellowtraveler">
                </iframe>
            </div>
        </div>

        <!-- 2. Row 2, disclaimer and precautions block -->
        <div>
            {% with errors = get_flashed_messages(category_filter=["header"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ msg|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor -%}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- Header END -->
{% endblock %}

<!-- Block #4 - Main contents -->
{% block main_contents %}
    <!-- Traveller's journey so far -->
    <div>
        <h2><b>{{ gettext('Map of ') }}{{ traveler }}{{ gettext('\'s journey so far') }}</b></h2>
    </div>

    <!-- Journey map -->
    <div>
        {{ teddy_map.html }}
    </div>

    <!-- Journey text summary -->
    <div>
        {{ journey_summary|safe }}
    </div>

    <br>
    <div>
        <h2><b>{{ gettext('Travel timeline') }}</b></h2>
        <span align="right">
            <a href="#top">
                {{ gettext('Go to top') }}
            </a>
        </span>
    </div>

    {% if locations_history|length>0 %}
        <div>
            {% for location_data in locations_history %}
                <p>
                    {{ gettext('Place #') }}: <b>{{ location_data.location_number }}</b>
                    <br>
                    {{ gettext('Author') }}: {{ location_data.author }}
                    <br>
                    {{ gettext('Time') }}: {{ location_data.time }}
                    <br>
                    {{ gettext('Location') }}: {{ location_data.location }}
                    {% if location_data.photos|length>0 %}
                        <br>
                        {{ gettext('Photos') }}:
                            {% for photo in location_data.photos %}
                                <br>
                                <img src='{{ PHOTO_DIR }}{{ traveler }}/{{ photo }}' class="img-fluid rounded" style="max-width: 700px;">
                            {% endfor %}
                    {% endif %}
                </p>
                <hr>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Adding a new location -->
    <a name="updatelocation"></a>
    <div>
        <h2><b>{{ gettext('Add new location') }}</b></h2>
        <span align="right">
            <a href="#top">
                {{ gettext('Go to top') }}
            </a>
        </span>
    </div>

    {% if session['LoggedIn'] %}
        <!-- Flashed messages for adding new location (under block header)-->
        <div>
            {% with errors = get_flashed_messages(category_filter=["addlocation"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ msg|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor -%}
            {% endif %}
            {% endwith %}
        </div>

        <b>{{ gettext('Where') }}{{ traveler }} {{ gettext('is now or was on the photo? (required)') }}</b>
        <div>
            <input id="pac-input" />
            <div id="map" height="400" width="700"></div>
        </div>

        <br>
        <form role="form" action="/{{ traveler }}/" method="POST" enctype="multipart/form-data">
            <dl>
                {{ whereisteddynowform.csrf_token }}
                {{ render_field(whereisteddynowform.author) }}
                <div>
                    <b>{{ gettext('Upload up to 4 photos/place') }}</b>
                    <p>
                        <input type="file" accept="image/*" name="photo" id="photo" multiple>
                    </p>
                </div>
                {{ render_field(whereisteddynowform.comment) }}
                {{ render_field(whereisteddynowform.getupdatesbyemail) }}
                {{ render_field(whereisteddynowform.secret_code) }}
                {{ render_field(whereisteddynowform.recaptcha) }}
                <br>
                {{ whereisteddynowform.location_submit(class_="btn btn-primary") }}
            </dl>
        </form>

    {% else %}
        {{ gettext('To add new') }} {{ traveler }}{{ gettext('\'s location first please <a href=\'../service/login/\'><b>log in</b></a> or <a href=\'../service/register/\'><b>register</b></a>') }}
    {% endif %}

    <!-- Scrolling down to update_location form in case form doesn't validate and index.html is rendered with parameter scrolldown=True -->
    {% if scrolldown %}
        <script> $(function(){ window.location.hash = "updatelocation"; }); </script>
    {% endif %}
{% endblock %}

{% block ourfooter %}
    <br>
    <hr>
    <div>
        {% include '_speakwithmefollowme.html' %}
    </div>
    <div>
        {% include '_subscribeform.html' %}
    </div>
{% endblock %}
